# Chapter 5 — Data Class Builders

## Overview of Data Class Builders

In [11]:
from coordinates import Coordinate


moscow = Coordinate(55.76, 37.62)
moscow

In [12]:
location = Coordinate(55.76, 37.62)
location == moscow

False

In [13]:
(location.lat, location.lon) == (moscow.lat, moscow.lon)

True

In [14]:
from collections import namedtuple
Coordinate = namedtuple('Coordinate', 'lat lon')
issubclass(Coordinate, tuple)

True

In [15]:
moscow = Coordinate(55.756, 37.617)
moscow

Coordinate(lat=55.756, lon=37.617)

In [16]:
moscow == Coordinate(55.756, 37.617)

True

可以看到 `namedtuple` 默认的 `__repr__` 和 `__eq__` 方法有用的多。

下面这个版本增加了类型声明增加了代码可读性。

In [17]:
import typing
Coordinate = typing.NamedTuple(
    'Coordinate', 
    [('lat', float), ('lon', float)]
)

typing.get_type_hints(Coordinate)

{'lat': float, 'lon': float}

也可以使用基于类的声明。

In [18]:
from typing import NamedTuple

class Coordinate(NamedTuple):
    lat: float
    lon: float
    
    def __str__(self) -> str:
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'
    

issubclass(Coordinate, tuple)

True

In [19]:
moscow == Coordinate(55.756, 37.617)
print(moscow)

Coordinate(lat=55.756, lon=37.617)

### Classic Named Tuples

#### Definling and using a namedtuple

In [21]:
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')

tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))

tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [22]:
tokyo.population

36.933

In [23]:
tokyo.coordinates

(35.689722, 139.691667)

In [24]:
tokyo[1]

'JP'

#### Named tuple attritubes and methods

In [25]:
City._fields

('name', 'country', 'population', 'coordinates')

In [26]:
tokyo._asdict()

{'name': 'Tokyo',
 'country': 'JP',
 'population': 36.933,
 'coordinates': (35.689722, 139.691667)}

In [27]:
import json

json.dumps(tokyo._asdict())

'{"name": "Tokyo", "country": "JP", "population": 36.933, "coordinates": [35.689722, 139.691667]}'

### Dataclass types

In [31]:
from datetime import date

from dataclass.resource import Resource, ResourceType

description = 'Improving the design of existing code'

book = Resource(
    '978-0-13-475759-9',
    'Refactoring, 2nd Edition',
    ['Martin Fowler', 'Kent Beck'],
    date(2018, 11, 19),
    ResourceType.BOOK,
    description,
    'EN',
    ['computer programming', 'OOP'],
)

book

Resource(identifier='978-0-13-475759-9', title='Refactoring, 2nd Edition', creators=['Martin Fowler', 'Kent Beck'], date=datetime.date(2018, 11, 19), resource_type=<ResourceType.BOOK: 1>, description='Improving the design of existing code', language='EN', subjects=['computer programming', 'OOP'])

Martin Flower 认为，没有行为的数据类是一种代码味道，这是一个非常好的设计指南。


在面向对象编程中，我们应该尽量将行为和数据组合到一起。这个结合 DDD 来看，我们可以用 `dataclass` 在 python 中实现 `value object`, `entity` 等 DDD 中的战术设计概念，用业务知识充实数据类。

数据类也可以作为中间表示对象，dataclass 可以通过 `asdict` 方法转化成字典，字典是和 JSON 十分接近的。


在这个场景下，